<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="{{ path('homepage' )}}">
                <img src="http://placehold.it/150x50?text=Logo" alt=""> <!--Change logo-->
                </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {% if app.request.attributes.get('_route') == 'homepage' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('homepage') }}">Home
                        {% if app.request.attributes.get('_route') == 'homepage' %}
                            <span class="sr-only">(current)</span>
                        {% endif %}
                    </a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item dropdown {% if app.request.attributes.get('_route') starts with 'admin' %}active{% endif %}">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('admin') }}">Admin page</a>
                            <a class="dropdown-item" href="{{ path('admin_user_list') }}">See users</a>
                            <a class="dropdown-item" href="{{ path('admin_user_create') }}">Create users</a>
                        </div>
                    </li>
                {% endif %}
                {% if not is_granted('ROLE_USER') %}
                    <li class="nav-item {% if app.request.attributes.get('_route') == 'login' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('login') }}">Login
                            {% if app.request.attributes.get('_route') == 'login' %}
                                <span class="sr-only">(current)</span>
                            {% endif %}
                        </a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item dropdown {% if app.request.attributes.get('_route') starts with 'user' %}active{% endif %}">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            User actions
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('user_edit') }}">Change password</a>
                        </div>
                    </li>
                    <li class="nav-item {% if app.request.attributes.get('_route') == 'logout' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('logout') }}">Logout
                            {% if app.request.attributes.get('_route') == 'logout' %}
                                <span class="sr-only">(current)</span>
                            {% endif %}
                        </a>
                    </li>
                {% endif %}
            </ul>
            </div>
        </div>
    </nav>
</header>