{% extends 'base.html.twig' %}

{% block title %}My profiles{% endblock %}

{% block body %}
{% include('navbar.html.twig') %}

<div class="mx-auto" style="width: 200px;">
  {% for profile in profiles %}
  <div class="card my-5" style="width: 20rem;">
    <div class="card-body" data-id="{{ profile.id }}">
      <h5 class="card-title">{{ profile.name }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ profile.race }}, {{ profile.class }}, {{ profile.spec }}</h6>
      <p class="card-text">Profession A: {{ profile.professionA }} Profession B: {{ profile.professionB }}</p>
      <a href="{{ path('profile_edit', {id: profile.id}) }}" class="card-link btn btn-primary" role="button">Edit profile</a>
      <button class="card-link delete-button btn btn-primary" type="button">Delete profile</button>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}